.section
  .container
    %h1{class: 'title has-text-primary'} Le manifeste de Second Text
.section
  .container
    %h2{class: 'subtitle'} Une plateforme pour mettre en avant les oeuvres des femmes
    %p Blablabla hdhdhma hjahhaah
.section
  .container
    %h2{class: 'subtitle'} Une plateforme pour mettre en avant les oeuvres des femmes
    %p Blablabla hdhdhma hjahhaah