.message
  .message-body
    Merci pour ta contribution !!
    %br
    Elle sera disponible sur le site après validation de l'équipe.
.field.is-grouped
  .control
    = link_to 'Retour au menu', root_path, class: 'button is-primary'
  .control
    = link_to 'Nouvelle contribution', new_product_path, class: 'button is-warning'
