.section
  .container
    %nav{class: 'bd-tabs'}
      .tabs
        %ul
          - categories.each do |category|
            %li
              = link_to category, build_section_path(section, category)
