%table
  %tbody
    %tr
      %td Rang
      %td Titre
      %td Autrice
    - @products.each_with_index do |product, index|
      %tr
        %td= index + 1
        %td= link_to product.title, product_path(product)
        %td= product.author