.section
  .container
    %h1{class: 'title has-text-primary'} Films
    %h2{class: 'subtitle'} Les meilleurs films réalisés par des femmes
  = render 'products/shared', products: @products, categories: @categories, section: 'movies'